.compare-pricing {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 269px;
  height: 228px;
  background-color: #fff;
  text-align: left;
  border-radius: 4px;
}

.compare-pricing__input{
  height: 76px;
}

.compare-pricing code {
  font-size: 12px;
}