input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: transparent;
  font-size: 16px;
}

textarea:focus, input:focus{
  outline: none;
}

.no-outline:focus {
  outline: none;
}