.input-container {
    border: solid 1px gray;
    padding: 5px;
    border-radius: 4px;
    margin-top: 6px;
}

input {
    border: none;
    outline: none;
}

.currency {
    color: #006FF2;
    
}

label {
    font-size: 12px;
}
