.compare-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.compare-text {
  display: flex;
  justify-content: space-between;
}

.compare-info {
  width: 100%;
  color: white;
  display: flex;
}

.compare-info :nth-child(1) {
  background-color: #006FF2;
  padding: 5px;
  border-radius: 10px 0 0 10px;
  width: 70%;
}

.compare-info :nth-child(2) {
  right: 0;
  background: #FF5D5D;
  padding: 5px;
  border-radius: 10px;
  width: 30%;
}